
@{
    ViewBag.Title = "Data Tables";
    ViewBag.pTitle = "Data Tables";
    ViewBag.pageTitle = "Tables";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@model IST.RRHH.Web.Models.AplicacionesModel



@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>
                <p class="card-title-desc">
                
                </p>

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">

                    <thead>
                        <tr>
                            <th>
                                Nombre de usuario
                            </th>
                            <th>
                                Correo electrónico
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Rut
                            </th>
                            <th>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Usuarios.OrderBy(c => c.Username))
                        {
                            <tr>
                                <td>
                                    @item.Username
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Nombres @item.Apellidos
                                </td>
                                <td>
                                    @item.Rut

                                    <div style="display:none">
                                        @if (item.Rut != null)
                                        {
                                            <span>@item.Rut.Replace(".", "").Replace("-", "")</span>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @{
                                            var datos = Model.UserApp.Where(c => c.UserId == item.Id).ToList();
                                            foreach (var itemapp in datos)
                                            {
                                                
                                                <a href="javascript: void(0);" class="badge badge-soft-primary font-size-11 m-1">@itemapp.ClaimValue</a>
                                            }
                                        }
                                        
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="~/Uses/Edit/@item.Id">Editar</a>
                                    <a class="btn btn-danger" href="~/Uses/Edit/@item.Id">Borrar</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<script src="~/assets/js/app.js"></script>



 