@model IST.RRHH.Web.Helpers.ModelUsers


<div class="login-page">





    <div class="row">


        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingrese nueva contraseña</h3>
                </div>
                <div class="panel-body">

                    <partial name="_ValidationMsj" />
@*
        @if (ViewBag.Error != null)
        {
            <h3 class="alert alert-danger">@ViewBag.Error</h3>
        }
        @if (ViewBag.Success != null)
        {
            <h3 class="alert alert-success">@ViewBag.Success</h3>
        }
*@

                <form method="post" action="~/Recovery/recoverynewpassword" novalidate="novalidate">
                    <img src="~/img/logo-web.png" class="img img-responsive">

                    @Html.HiddenFor(c => c.Id)
                    @Html.HiddenFor(c => c.recoveryId)

                    <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Código de validación</label>
                                <input type="text" class="form-control" id="Codigo" name="Codigo" placeholder="4 digitos" value="@Model.Codigo" autocomplete="off">
                            </div>
                        </div>
                    </div>


                    <div class="row" id="pwd-container1">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="password1">Nueva contraseña</label>
                                <input type="password" class="form-control passwordValidate" id="contrasena" name="contrasena" placeholder="nueva contraseña" value="@Model.Contrasena" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <div class="pwstrength_viewport_progress"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="passwordRepit">Repita nueva contraseña</label>
                                <input type="password" class="form-control " id="ContrasenaConfirmacion" name="ContrasenaConfirmacion" placeholder="nueva contraseña" value="@Model.ContrasenaConfirmacion" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-primary col-sm-12" name="button" value="login">Actualizar contraseña cuenta</button>

                    </div>
                    <div class="form-group text-center">
                        <a href="~/Account/Login">Volver al login</a>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/pwstrength/pwstrength-bootstrap.min.js"></script>
<script src="~/lib/pwstrength/zxcvbn.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        // Example 1
        var options1 = {};
        options1.ui = {
            container: "#pwd-container1",
            showVerdictsInsideProgressBar: true,
            viewports: {
                progress: ".pwstrength_viewport_progress"
            }
        };
        options1.common = {
            debug: false,
        };
        $('.passwordValidate').pwstrength(options1);
        
    });
</script>
